* {
  background-color: rgb(231, 231, 231);
  font-family: 'Rubik', sans-serif;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

input {
  padding: 5px;
  margin: 5px;
}

.contactsHeader {
  text-align: center;
}

.contactsHeading {
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}

.fa-users {
  font-size: 30px;
  padding: 0 10px;
}

.contactForm {
  text-align: center;
}

.contactBtn {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactsList {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.contactItem {
  width: 300px;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  border: 1px solid #fff;
  border-radius: 2px;
}

.contactEmail {
  text-decoration: none;
}

.fa-user {
  font-size: 20px;
  display: inline-block;
}
